
.text-center {
    text-align: center;
}

.link {
    color: #4682b4;
    display: inline;
    background: none;
    border: none;
    box-shadow: none;
}

.link:hover {
    text-decoration: underline;
}

.inline-form {
    display: inline;
    width: 0;
    height: 0;
}

.checkbox-group {
    margin: 10px;
    padding: 10px;
}

.checkbox-group input {

}


.comment-block {
    margin: 10px;
    padding: 10px;
}

.comment-block ul {
    list-style-type: none;
}

.comment-block li {
    margin: 20px 0;
}

.comment-block a {
    margin: 5px;
}

.comment-author {
    font-size: 12pt;
    font-weight: bold;
}

.comment-content {
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 12pt;
    border: 1px solid gray;
    border-radius: 10px;
}

.comment-block quote::before {
    content: '\"';
}

.comment-block quote::after {
    content: '\"';
}

.comment-block quote {
    display: block;
    padding: 10px;
    color: gray;
    background-color: #ced6e3;
    margin: 5px;

}

.pagination-page-current {
    color: red;
}

.button {
    margin: 5px;
    padding: 5px 10px;
    border-top: 1px solid #3d4652;
    border-bottom: 1px solid #3d4652;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #4d6265;
    color: #ced6e3;
    width: 100px;
    text-align: center;
    font-weight: 300;
}

.button:hover {
    background-color: #fcfcfe;
    color: #3d4652;
    font-weight: bold;
}

.localization {
    text-align: center;
    position: relative;
    height: 0px;
    top: 0px;
}

.table {
    margin: 10px auto;
    min-width: 80%;
}

table tr {
    padding: 20px 0px;
}

.table td {

    padding: 10px;
    background-color: #f2f3f5;
}

.table th {

    padding: 10px;
    border: 1px solid #8a1715;
    background-color: #3d4652;
    color: white;
}


.filter{
    overflow: auto;
    max-height: 150px;
    padding: 10px 2px;
    border: 1px solid #16272c;
    border-bottom-left-radius: 10px;
}

.filter-label{
    margin-top: 25px;
    padding: 5px 10px;
    border: 1px solid #8a1715;
    border-top-left-radius: 10px;
    background-color: #8a1715;
    color: white;
}

.filter input[type=text], .filter select
{
    width: 80%;
    margin: 5px auto;
    display: block;
}

.add-link {
    text-align: right;
    padding-right: 50px;
}

.add-link a, .button-small, .inline-form input[type=submit],
.comment-answer, .comment-quote, .comment-delete, .comment-ban,
.button-small-quote-active, .button-small-answer-active
{
    display: inline;
    text-align: right;
    margin: 0px 5px;
    padding: 4px 15px;
    border: none;
    border-top: 1px solid #8a1715;
    border-bottom: 1px solid #8a1715;
    border-radius: 5px;
    font-weight: bold;
    color: #8a1715;
    text-decoration: none;
}

.button-small-quote-active, .button-small-answer-active
{
    background-color: #16272c;
    border-top: 1px solid #16272c;
    border-bottom: 1px solid #16272c;
    color: white;
}

.add-link a:hover, .button-small:hover,.inline-form input[type=submit]:hover,
.comment-answer:hover, .comment-quote:hover, .comment-delete:hover, .comment-ban:hover{
    background-color: #8a1715;
    color: white;
}

.button-small-quote-active:hover, .button-small-answer-active:hover {
}

.alert{
    border-top: 1px solid #8a1715;
    border-bottom: 1px solid #8a1715;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 70%;
    padding : 10px 50px;
    margin: 20px 0px;
    color: #8a1715;
    font-weight: bold;
}

.info{
    border-top: 1px solid #008b8b;
    border-bottom: 1px solid #008b8b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 70%;
    padding : 10px 50px;
    margin: 20px 0px;
    color: #008b8b;
    font-weight: bold;
}

.pagination-container{
    list-style-type: none;
    text-align: center;
    margin: 30px;
}

.pagination-container li{
    display: inline-block;
}

.pagination-container a{
    padding: 5px 10px;
    margin-left: -1px;
    border: 1px solid #8a1715;
    text-decoration: none;
    color: #8a1715;
    font-weight: bold;  
}

.pagination-container a:hover{
    background-color: #4d6265;
    color: white;
}

.pagination-container .pagination-page-current{
    
    background-color: #8a1715;
    color: white;
}

.pagination-container li:first-child a{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pagination-container li:last-child a{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.payment-img{
    width: 50px;
}

#claims {
    padding: 40px;
}

.info-message {
    text-align: center;
    font-weight: bold;
    color: #4d6265;
}