
.link {
    color: #4682b4;
    display: inline;
    background: none;
    border: none;
    box-shadow: none;
}

.link:hover {
    text-decoration: underline;
}

.inline-form {
    display: inline;
}

.checkbox-group {
    margin: 10px;
    padding: 10px;
}

.checkbox-group input {

}


.comment-block {
    margin: 10px;
    padding: 10px;
}

.comment-block ul {
    list-style-type: none;
}

.comment-block a {
    margin: 5px;
}

.comment-author {
    font-size: 12pt;
    font-weight: bold;
}

.comment-content {
    display: block;
    padding: 15px;
    font-size: 12pt;
    border: 1px solid gray;
    border-radius: 10px;
}

.comment-block quote {
    display: block;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;

}

.pagination-page-current {
    color: red;
}

.button {
    margin: 5px;
    padding: 5px 10px;
    border-top: 2px solid #3d4652;
    border-bottom: 2px solid #3d4652;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #8094b3;
    color: #ced6e3;
    width: 100px;
    text-align: center;
    font-weight: 300;
}

.button:hover {
    background-color: #fcfcfe;
    color: #3d4652;
    font-weight: bold;
}

.localization {
    text-align: center;
    position: relative;
    height: 0px;
    top: 0px;
}

.table {
    margin: 10px;
}

table tr {
    padding: 20px 0px;
}

.table td {

    padding: 10px;
    background-color: #f2f3f5;
}