.page-wrapper {
    width: 1000px;
    margin: 20px auto;
    border: 1px solid #1a181c;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
    background-color: #f6f5f3;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.support-line {
    display: block;
    overflow: auto;
    padding: 10px 40px;
    border-bottom: 1px solid #3d4652;
    margin: -10px;
    margin-bottom: 0px;
}

    .support-line ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    .support-line li {
        display: inline-block;
    }

    .support-line .pull-left a {
        color: black;
        text-decoration: none;
    }

        .support-line .pull-left a:hover {
            color: #333;
            text-decoration: underline;
        }

    .support-line .pull-right a {
        color: #555;
        text-decoration: none;
    }

        .support-line .pull-right a:hover {
            color: black;
            text-decoration: underline;
        }

.logo-line {
    height: 80px;
    position: relative;
    box-sizing: border-box;
    margin-top: 5px;
}

.logo {
    width: 40%;
    float: left;
    padding: 5px 20px;
    height: 100%;
    box-sizing: border-box;
}

.logo-img {
    height: 100px;
    display: inline;
    overflow: hidden;
}

.auth {
    width: 60%;
    display: block;
    float: left;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    text-align: right;
    padding: 10px;
}

.menu-line {
    text-align: right;
    padding-right: 50px;
    position: relative;
    display: block;
    height: 40px;
    top: 20px;
}

    .menu-line::after {
        content: " ";
        display: block;
        clear: both;
    }

    .menu-line ul {
        list-style-type: none;
        height: 100px;
        height: 0px;
        margin: 0;
    }

    .menu-line li {
        display: inline-block;
    }

        .menu-line li:first-child a {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        .menu-line li:last-child a {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

    .menu-line a {
        padding: 10px 15px;
        display: inline-block;
        border: 2px solid #8a1715;
        margin-left: -1px;
        min-width: 100px;
        text-align: center;
        text-decoration: none;
        background-color: #ced6e3;
        color: #8a1715;
        font-weight: bold;
    }

        .menu-line a:hover {
            background-color: #fcfcfe;
        }




.header {
    height: 100px;
}

    .header::after {
        content: "";
        display: block;
        clear: both;
    }

.sub-header {
    height: 230px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #8a1715,#4d6265, #16272c);
    margin: 0;
}

    .sub-header::after {
        content: "";
        display: block;
        clear: both;
    }

.slogan-column {
    padding: 10px;
    width: 45%;
    float: left;
    height: 100%;
    box-sizing: border-box;
}

.text-logo {
    margin: 20px;
    font-size: 36pt;
    font-weight: bold;
    color: #bbb;
}

.slogan {
    position: relative;
    bottom: -50px;
    font-size: 14pt;
    color: #a48b73;
    text-indent: 40px;
    font-weight: bold;
}

.sub-logo-column {
    width: 54%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

    .sub-logo-column img {
        position: relative;
        width: 100%;
        bottom: -25%;
    }




.content-line {
    clear: both;
}

    .content-line::after {
        content: " ";
        display: block;
        clear: both;
    }

.content {
    width: 75%;
    float: left;
    box-sizing: border-box;
}

.side-bar {
    width: 25%;
    float: left;
}

    .side-bar fieldset {
        max-height: 100px;
        overflow: auto;
        margin: 10px 0px;
    }

.social-line {
    margin-top: 50px;
}

    .social-line::after {
        content: " ";
        display: block;
        clear: both;
    }

.social-wrapper {
    width: 30%;
    height: 400px;
    float: left;
    box-sizing: border-box;
    margin: 1.5%;
}

.social-email {
    height: 320px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: none;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #e2e7d4;
    overflow: auto;
}

    .social-email input[type=text], .social-email textarea {
        width: 100%;
        margin-bottom: 10px;
    }

.social-line .title {
    position: relative;
    bottom: -10px;
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #8a1715;
    text-indent: 10px;
}

.social-email textarea {
    height: 100px;
}


.social-twitter {
    height: 320px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #ced6e3;
    overflow: auto;
}

    .social-twitter ul {
        list-style-type: none;
        padding: 0;
    }

    .social-twitter li {
        border-bottom: 1px dashed #888;
        padding-bottom: 10px;
    }

    .social-twitter p {
        margin: 5px;
    }

    .social-twitter .time {
        margin: 5px;
        color: #999;
    }

.social-rss {
    height: 320px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #e2e7d4;
    overflow: auto;
}

    .social-rss p {
        border-bottom: 1px dashed #888;
        padding: 5px 0;
        margin: 0;
        margin-top: 10px;
    }

.social-line .social-button {
    margin: 10px;
    padding: 3px 30px;
    border: 2px solid #8b3a04;
    background-color: #f18e22;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

    .social-line .social-button:hover {
        background-color: white;
        color: #8b3a04;
    }

.footer {
    border-top: 3px solid #ccc;
    box-sizing: border-box;
    min-height: 200px;
    clear: both;
}

.copyright {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}

.site-links {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}

.company-information {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.basket {
    margin: 40px auto;
    text-align: center;
}

    .basket a {
        display: block;
        padding: 10px 20px;
        border: 2px solid #8a1715;
        background-color: #8a1715;
        color: white;
        text-decoration: none;
        font-size: 16pt;
        font-weight: bold;
        width: 150px;
        margin: auto;
    }

        .basket a:hover {
            background-color: white;
            color: #8a1715;
            font-weight: bold;
        }

        .basket a div {
            text-align: left;
            margin: 5px;
        }


.support-line li::after {
    content: " | ";
}

.support-line li:last-child:after {
    content: "";
}
