body {
    font-family: "Verdana";
    font-size: 10pt;
    background-color: #fcfcfe;
    background: url(../Images/Layout/space.jpg);
    background-attachment: fixed;
}


a {
    color: #3d4652;
    display: inline;
}

    a:hover {
        color: #406c8e;
        text-decoration: none;
    }


h2{
    margin-top: 30px;
    padding: 2px 30px;
    border-bottom: 3px solid #8a1715  ;
    width: 70%;
    color: #16272c;
    font-size: 20pt;
}


input[type=submit]
{
    display: block;
    margin: 0px auto;
    border: none;
    border-top: 1px solid #8a1715;
    border-bottom: 1px solid #8a1715;
    border-radius: 10px;
    padding: 8px 15px;
    background-color: white;
    font-weight: bold;
    color: #8a1715;
    box-shadow: none;
}

input[type=submit]:hover
{
    background-color: #8a1715;
    color: white;  
}

input[type=text],input[type=date], input[type=number], input[type=password], textarea, select{
    width: 200px;
}

textarea{
     height: 100px;
}