@using GameStore.WebUI.App_LocalResources.Localization

@{
    ViewBag.Title = ViewsRes.AccountChangeNotificationMethodTitle;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag</h2>

@using (Html.BeginForm())
{
    @Html.CheckBox("NotificationMetod", true, new { id = "email"})
    @Html.CheckBox("NotificationMetod", false, new { id = "email" })
}
