@model GameStore.WebUI.Models.CreatePublisherViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
        <p>
            <input type="submit" value="Create" />
        </p>
    
}

