@model GameStore.WebUI.Models.UpdateGameViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Update</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.EditorForModel()

    <p>
        <input type="submit" value="Save" />
    </p>
}


@section Scripts {

}
