@model GameStore.WebUI.Models.CheckBoxViewModel


@Html.Hidden("Id", Model.Id)
@Html.Hidden("Text", Model.Text)
<div class="editor-checkbox">
    @Html.CheckBox("IsChecked", Model.IsChecked)
    @Html.LabelFor(x => x.IsChecked, Model.Text)
</div>


