@model GameStore.WebUI.Models.RadiobuttonViewModel

@Html.Hidden("Text", Model.Text)
@Html.Hidden("Value", Model.Value)
<div class="editor-checkbox">
    @Html.RadioButton("IsChecked", Model.IsChecked)
    @Html.LabelFor(x => x.IsChecked, Model.Text)
</div>
 