@model GameStore.WebUI.Models.RadiobuttonViewModel

<div class="editor-checkbox">
    @Html.RadioButtonFor(m => m.SelectedValue, Model.SelectedValue)
    @Html.LabelFor(x => x.SelectedValue, Model.SelectedValue)
</div>
 