@using GameStore.WebUI.Helpers;
@model IEnumerable<GameStore.WebUI.Models.DisplayCommentViewModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>List</h2>

<div>
    @Html.BuildCommentsTree(Model, ViewBag.GameKey as string)
</div>

<div>
    @Html.Action("Create", "Comment", new {gameKey = ViewBag.GameKey as string})
</div>


@section Scripts
{
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/Comment/Comment.js"></script>
}
