@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
</head>
<body>
<div class="header">
    @Html.Action("GetCount", "Game")
    @Html.ActionLink("Busket","Details", "Order")
</div>
<div>
    @RenderBody()
</div>
    @RenderSection("Scripts", false)
</body>
</html>
